<h2 class="text-center">Sign up</h2>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card devise-col">
        <div class="card-header">Sign Up</div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
            <%= f.error_notification %>
            <div class="form-group">
              <%= f.label :email, class: "control-label col-sm-4" %>
              <div class="col-sm-8">
                <%= f.email_field :email, class: "form-control", required: true, autofocus: true, autocomplete: "email" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "control-label col-sm-4" %>
              <div class="col-sm-8">
                <%= f.password_field :password, class: "form-control", required: true, autocomplete: "new-password" %>
                <% if @minimum_password_length %>
                  <span class="help-block">Minimum <%= @minimum_password_length %> characters</span>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, class: "control-label col-sm-4" %>
              <div class="col-sm-8">
                <%= f.password_field :password_confirmation, class: "form-control", required: true, autocomplete: "new-password" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "devise/shared/links" %>
