<div id="<%= dom_id station %>">
  
  <h1>Arrivals for <%= station.name %></h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr class="table-dark">
        <th>Name</th>
        <th>Run Number</th>
        <th>Line</th>
        <th>Destination</th>
        <th>ETA</th>
      </tr>
    </thead>
    <tbody>
      <% @arrivals.each do |arrival| %>
        <tr>
          <td><%= arrival[:name] %></td>
          <td><%= arrival[:run_number] %></td>
          <td><%= arrival[:line] %></td>
          <td><%= arrival[:destination] %></td>
          <td><%= arrival[:eta] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
