<div id="<%= dom_id station %>">
  <p>
    <strong>Name:</strong>
    <%= station.name %>
  </p>

  <p>
    <strong>Run number:</strong>
    <%= station.run_number %>
  </p>

  <p>
    <strong>Line:</strong>
    <%= station.line %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= station.destination %>
  </p>

  <p>
    <strong>Eta:</strong>
    <%= station.eta %>
  </p>

</div>
