  
   
    <head>
    <% if params[:controller] == 'stations' && params[:action] == 'show' && @is_show_page %>
    <META http-equiv="refresh" content="30;URL=http://0.0.0.0:3000/stations/1" id="meta_refresh">
     <% end %>
    </head>
  

<p style="color: green"><%= notice %></p>
<div id="arrivalTimes">
  <%= render @station %>
</div>
<div>
  <%= link_to "Back to stations", stations_path %>
</div>

<%= form_with(model: @favorite) do |form| %>
  <% if @favorite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
        <% @favorite.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div>
      <% form.label :user_id, style: "display: block" %>
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div>
      <% form.label :station_id, style: "display: block" %>
      <%= form.hidden_field :station_id, value: @station.id %>
      <% @station.name %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<script>
    // Check if the current page URL matches the target URL
    if (window.location.href === 'http://0.0.0.0:3000/stations/1') {
        // Refresh the page after 6 seconds
        setTimeout(function(){
            location.reload();
        }, 6000);
    }
</script>
