<nav class="navbar navbar-col navbar-expand-lg bg-body-primary sticky-top">
  <div class="container-fluid">
    <%= link_to stations_path, class: "navbar-brand" do %>
      <%= image_tag "heyctalogo.png", alt: "HeyCTA Logo", style: "width: 50px; height: auto;" %>
    <% end %>
    <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" data-auto-close="true" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex justify-content-end align-items-center">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            </li>
            <li class="nav-item">
              <%= link_to "Saved Stations", favorites_path, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            </li>
            <!--<li class="nav-item">-->
            <%#= link_to "Notifications", notification_times_path, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            <!--          </li>-->
            <li class="nav-item">
              <%= link_to "Stations", stations_path, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            </li>
            <li class="nav-item">
              <%= link_to "Stations", stations_path, class: "nav-link", style: "color: rgb(187, 187, 187)" %>
            </li>
          <% end %>
        </ul>

      </div>

    </div>
  </div>

</nav>
