<%= form_with(model: notification_time) do |form| %>
  <% if notification_time.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(notification_time.errors.count, "error") %> prohibited this notification_time from being saved:</h2>

      <ul>
        <% notification_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div>-->
    <%#= form.label :user_id, style: "display: block" %>
    <%#= form.text_field :user_id %>
<!--  </div>-->

<div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= current_user.id %> <!-- Display the current user's name -->
  </div>
  
  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.label :recurrence, style: "display: block" %>
    <%= form.text_field :recurrence %>
  </div>
<!--
  <div>
    <%#= form.label :station_id, style: "display: block" %>-->
    <%#= form.text_field :station_id %>
<!--  </div>-->
  
  <div>
  <%= form.label :station_id, style: "display: block" %>
  <%= form.collection_select :station_id, Station.all, :id, :name %>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
