

<div class="card">
  <div class="card-body">
    <h5 class="card-title">User: <%= favorite.user_id %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Station: <%= favorite.station.name %></h6>
    <%= link_to "Show this favorite", favorite, class: "card-link" %>
    <%= link_to "Create notification", new_notification_time_path(favorite_id: favorite.id), class: "card-link" %>
    <h6 class="card-subtitle mb-2 text-muted">time: <%= NotificationTime.find_by(user_id: favorite.user_id, station_id: favorite.station_id) %></h6>
  </div>
</div>
 </div>
</div>
<!---->
