<div class="card">
  <div class="card-body">
    <h5 class="card-title ">Station: <%= favorite.station.name %></h5>
    <% if NotificationTime.find_by(user_id: favorite.user_id, station_id: favorite.station_id)%>
      <h6 class="card-subtitle mb-2 text-muted">Notification: <%= NotificationTime.find_by(user_id: favorite.user_id, station_id: favorite.station_id).recurrence %>, <%= NotificationTime.find_by(user_id: favorite.user_id, station_id: favorite.station_id).time.strftime("%I:%M %p") %>, Active</h6>
     <%= link_to "Edit notification", edit_notification_time_path(NotificationTime.find_by(user_id: favorite.user_id, station_id: favorite.station_id)), class: "card-link" %>
      <%= link_to "Remove Favorite", favorite, data: {turbo_method: :delete}, class: "card-link"  %>
    <% else%>
      <%= link_to "Remove Favorite", favorite, data: {turbo_method: :delete}, class: "card-link"  %>
      <%= link_to "Create notification", new_notification_time_path(favorite_id: favorite.id), class: "card-link" %>
    <%end%>
  </div>
</div>
</div>
</div>
