<p style="color: green"><%= notice %></p>

<%= render @notification_time %>

<div>
  <%= link_to "Edit this notification time", edit_notification_time_path(@notification_time) %> |
  <%= link_to "Back to notification times", notification_times_path %>

  <%= button_to "Destroy this notification time", @notification_time, method: :delete %>
</div>
