<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTA Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 <%= render partial: "shared/cdn_assets" %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% unless content_for?(:exclude_navbar) %>
      <%= render partial: 'shared/navbar' %>
    <% end %>

    <%= yield %>
  </body>
  
</html>
